
/* ---- reset ---- */




/* ---- typography ---- */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: grey;
  font-size: 16px;
  
}



/* ---- layout ---- */

#splash-container{
   
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 200px;
    
}

#gameover-container{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 200px;
}  


/* ---- components ---- */




#game-over {
  text-align: center;
}





#p-container{
   background-color: rgba(80, 23, 23, 0.3);
   position:relative;
   bottom: 80px;
   font-size: em;
   margin: 25px;
   padding: 25px;

}





#splash-container h1{
   color: white; 
   font-size: 4em;
   margin: 0;
   position: relative;
   bottom: 100px; 
   margin: 0;
  
}

 button{
 
    background-color: rgb(12, 136, 89); 
    border: 4px solid #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
  /*text-decoration: none;*/
    font-size: 1.5em;
}

button:hover{
    background-color:  #4CAF50;
    border: 4px solid rgb(12, 136, 89);
}

button:active{
    color: rgb(255, 212, 71);
}

